#Ejercicios:

**Armando un diccionario de notas.** A continuación damos una lista de tuplas, donde cada tupla corresponde a un alumno de un curso, con `(nombre, dni, nota)`. Armá a partir de la lista un diccionario `dic_notas` que tenga como clave el nombre y como valor la nota de cada alumno.

In [1]:
alumnos = [
    ('Carlos Gómez', 41008418, 5),
    ('Gabriela Torres', 45790918, 8),
    ('Juan Pérez', 48327044, 9),
    ('Éric Guay', 35360531, 7),
    ('Juana Monte', 31583398, 10),
    ('Carla Díaz', 43772387, 6)]

# diccionario notas:
dic_alumnos = {}
for alumno in alumnos:
  dic_alumnos[alumno[0]] = alumno[2]
print(dic_alumnos)

{'Carlos Gómez': 5, 'Gabriela Torres': 8, 'Juan Pérez': 9, 'Éric Guay': 7, 'Juana Monte': 10, 'Carla Díaz': 6}

Usando **comprensión**:

In [2]:
alumnos = [
    ('Carlos Gómez', 41008418, 5),
    ('Gabriela Torres', 45790918, 8),
    ('Juan Pérez', 48327044, 9),
    ('Éric Guay', 35360531, 7),
    ('Juana Monte', 31583398, 10),
    ('Carla Díaz', 43772387, 6)]

# diccionario notas:
dic_alumnos = { alumno[0]:alumno[2] for alumno in alumnos}
print(dic_alumnos)

{'Carlos Gómez': 5, 'Gabriela Torres': 8, 'Juan Pérez': 9, 'Éric Guay': 7, 'Juana Monte': 10, 'Carla Díaz': 6}

**Lista de diccionarios.** Usando la misma lista de antes, armá ahora una nueva lista en la que a cada alumno le corresponde un diccionario con las claves 'nombre', 'dni' y 'nota'. Por ejemplo, el primer elemento es {'Nombre':'Carlos Gómez', 'dni':41008418, 'nota':5}.

In [3]:
alumnos = [
    ('Carlos Gómez', 41008418, 5),
    ('Gabriela Torres', 45790918, 8),
    ('Juan Pérez', 48327044, 9),
    ('Éric Guay', 35360531, 7),
    ('Juana Monte', 31583398, 10),
    ('Carla Díaz', 43772387, 6)]

# lista diccionario:
lista_alumnos = []
nombre = {}
dni = {}
nota = {}
for alumno in alumnos:
  lista_alumnos.append({'nombre':alumno[0],'dni':alumno[1],'nota':alumno[2]})

print(lista_alumnos)

[{'nombre': 'Carlos Gómez', 'dni': 41008418, 'nota': 5}, {'nombre': 'Gabriela Torres', 'dni': 45790918, 'nota': 8}, {'nombre': 'Juan Pérez', 'dni': 48327044, 'nota': 9}, {'nombre': 'Éric Guay', 'dni': 35360531, 'nota': 7}, {'nombre': 'Juana Monte', 'dni': 31583398, 'nota': 10}, {'nombre': 'Carla Díaz', 'dni': 43772387, 'nota': 6}]

Usando **comprensión**:

In [4]:
alumnos = [
    ('Carlos Gómez', 41008418, 5),
    ('Gabriela Torres', 45790918, 8),
    ('Juan Pérez', 48327044, 9),
    ('Éric Guay', 35360531, 7),
    ('Juana Monte', 31583398, 10),
    ('Carla Díaz', 43772387, 6)]
    
# lista diccionarios:
lista_dic = [{ 'nombre':alumno[0],'dni':alumno[1],'nota':alumno[2]} for alumno in alumnos]
print(lista_dic)

[{'nombre': 'Carlos Gómez', 'dni': 41008418, 'nota': 5}, {'nombre': 'Gabriela Torres', 'dni': 45790918, 'nota': 8}, {'nombre': 'Juan Pérez', 'dni': 48327044, 'nota': 9}, {'nombre': 'Éric Guay', 'dni': 35360531, 'nota': 7}, {'nombre': 'Juana Monte', 'dni': 31583398, 'nota': 10}, {'nombre': 'Carla Díaz', 'dni': 43772387, 'nota': 6}]